 ....loading....
Firebug 的日志已达上限。 %S 条未显示。		首选项	 
"Reload to activate window console"
				
Firebug 的日志已达上限。 %S 条未显示。		首选项	 
ActivationMessage
-
			
0KB
	
(0KB 来自缓存)
0ms
1<html>
2<head>
3 <title>Ext JS - Client-side JavaScript Framework</title>
4 <link rel="stylesheet" type="text/css" href="/deploy/dev/resources/css/core.css" />
5 <link rel="stylesheet" type="text/css" href="/assets/css/extjs.css" />
6
7
8 <script type="text/javascript" src="/assets/js/extjs.js"></script>
9 <script type="text/javascript" src="/assets/js/site.js?v=4"></script>
10 </head>
11<body>
12<div id="viewport">
13
14<div id="hd">
15 <h1><a href="/" title="Home"><span>Ext</span></a></h1>
16 <div id="msg-ct"><div id="msg"><div id="msg-inner"></div></div></div>
17 <table cellspacing="0" class="nav main-nav">
18 <tr>
19 <td><a id="home-link" href="/"><span>Home</span></a></td><td class="active"><a id="products-link" href="/products"><span>Products</span></a></td><td><a id="support-link" href="/support"><span>Support</span></a></td><td><a id="jobs-link" href="http://jobs.extjs.com"><span>Jobs</span></a></td><td><a id="company-link" href="/company"><span>Company</span></a></td><td><a id="blog-link" href="/blog"><span>Blog</span></a></td><td><a id="store-link" href="/store"><span>Store</span></a></td> </tr>
20 </table>
21
22 <table cellspacing="0" class="sub-nav">
23 <tr>
24 <td><a href="/">Home</a></td><td class="spacer"><img src="/assets/images/c-sep.gif"></td><td><a href="#">Products</a></td><td class="spacer"><img src="/assets/images/c-sep.gif"></td><td><a href="/products/extjs">Ext JS</a></td><td class="spacer"><img src="/assets/images/c-sep.gif"></td><td><a href="/products/extjs">Overview</a></td> </tr>
25 </table>
26
27</div>
<html>
<head>
</head>
<body id="ext-gen2" class=" ext-gecko">
<div id="viewport">
<div id="hd">
</div>
<div id="bd">
<script src="/assets/js/samples2.js" type="text/javascript">
</script>
<link href="/assets/css/sview2.css" type="text/css" rel="stylesheet">
</link>
<h3 style="margin-top: 10px;">Ext JS: Cross-Browser Rich Internet Application Framework</h3>
<div id="samples">
</div>
<div style="padding: 10px 0pt 0pt;">
<div class="left-column">
<div class="content-box">
<h5>Ext JS Overview</h5>
<div class="box">
</div>
</div>
<div class="content-box">
<h5>Browser Compatibility</h5>
<div class="box">
</div>
</div>
</div>
<div class="right-column" style="padding-top: 15px;">
</div>
</div>
<div style="clear: both;"/>
</div>
<div id="ft">
</div>
</div>
<div id="products-menu" class="flyout-menu" style="display: none;">
</div>
<div id="support-menu" class="flyout-menu" style="display: none;">
</div>
<div id="store-menu" class="flyout-menu" style="display: none;">
</div>
<script type="text/javascript">
</script>
<script type="text/javascript" src="http://www.google-analytics.com/ga.js">
</script>
<script type="text/javascript">
</script>
</body>
</html>
Firebug 的日志已达上限。 %S 条未显示。		首选项	 
				
Firebug 的日志已达上限。 %S 条未显示。		首选项	 
ActivationMessage
-
			
0KB
	
(0KB 来自缓存)
0ms
<html>
<head>
</head>
<body>
<div id="viewport">
<div id="hd">
</div>
<div id="bd">
<div class="left-column">
<div class="content-box">
<h5>Ext JS Overview</h5>
<div class="box">
<p>Ext JS is a cross-browser JavaScript library for building rich internet applications. It includes:</p>
<ul class="features">
</ul>
</div>
</div>
<div class="content-box">
</div>
</div>
<div class="left-column">
</div>
<div style="clear: both;"/>
</div>
<div id="ft">
</div>
</div>
</body>
<div id="_firebugConsole" style="display: none;" FirebugVersion="1.4.2"/>
</html>
Firebug 的日志已达上限。 %S 条未显示。		首选项	 
				
Firebug 的日志已达上限。 %S 条未显示。		首选项	 
ActivationMessage
-
			
0KB
	
(0KB 来自缓存)
0ms
<html>
<head>
</head>
<div id="_firebugConsole" style="display: none;" FirebugVersion="1.4.2"/>
<body id="ext-gen2" class=" ext-gecko">
</body>
</html>
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote {
margin:0;
padding:0;
}
fieldset, img {
border:0 none;
}
address, caption, cite, code, dfn, em, strong, th, var {
font-style:normal;
font-weight:normal;
}
ol, ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
caption, th {
text-align:left;
}
h1, h2, h3, h4, h5, h6 {
font-size:100%;
font-weight:normal;
}
q:before, q:after {
content:'';
}
abbr, acronym {
border:0 none;
}
body {
background-color:#FFFFFF;
border:0 none;
color:#555555;
font-family:verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
font-size:12px;
line-height:18px;
margin:0;
padding:0;
text-align:center;
}
td {
font-size:13px;
}
a:link, a:visited, a:active {
color:#0464BB;
text-decoration:none;
}
a:hover {
color:#1C417C;
text-decoration:underline;
}
#viewport {
margin:auto;
text-align:left;
width:960px;
}
#hd {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/topbar.png) no-repeat scroll 10px bottom;
height:95px;
position:relative;
}
#hd table.nav {
margin-left:0;
position:absolute;
}
#hd table.nav tr {
}
#hd table.nav tr td {
padding-left:0;
padding-right:0;
padding-top:1px;
}
#hd table.nav a, #hd table.main-nav a:hover, #hd table.main-nav a:visited {
color:#FFFFFF;
}
#hd table.nav a, #hd table.main-nav a span {
color:#FFFFFF;
display:block;
}
#hd table.nav a {
line-height:14px;
}
#hd table.nav a span {
padding:6px 15px 7px;
}
#hd table.nav a span {
font-family:tahoma,helvetica,arial,sans-serif;
font-size:12px;
}
#hd table.main-nav {
left:15px;
top:40px;
}
#hd table.main-nav tr {
height:28px;
}
#hd table.main-nav a:hover {
text-decoration:underline;
}
#hd table.main-nav a:hover span {
text-decoration:underline;
}
#hd table.main-nav td.active a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/nav-left.png) repeat-x scroll 0 0;
text-decoration:none;
}
#hd table.main-nav td.active a span {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/nav-right.png) no-repeat scroll right 0;
font-weight:bold;
padding:7px 15px 6px;
text-decoration:none;
}
#hd .sub-nav {
height:21px;
left:25px;
position:absolute;
top:72px;
}
#hd .sub-nav td {
color:#777777;
font-family:tahoma,helvetica,arial,sans-serif;
font-size:11px;
}
#hd .sub-nav td span {
color:#777777;
}
#hd .sub-nav td a {
color:#046BCA;
font-family:tahoma,helvetica,arial,sans-serif;
}
#hd .sub-nav td.spacer {
padding:0 5px;
}
#hd h1 a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/extjs2.png) no-repeat scroll 0 0;
float:left;
height:18px;
left:20px;
position:relative;
top:12px;
width:227px;
}
#hd h1 a span {
display:none;
}
#bd {
margin:5px 15px 0;
}
#bd p {
margin-bottom:8px;
margin-top:8px;
}
#bd br {
font-size:10px;
line-height:10px;
}
#bd .left-column {
float:left;
width:700px;
}
#bd .right-column {
float:left;
margin-left:20px;
width:200px;
}
#bd .right-column p {
font-size:12px;
margin:5px;
}
#bd h3 {
color:#385F95;
font-family:verdana,arial,sans-serif;
font-size:18px;
font-weight:normal;
letter-spacing:-1px;
margin:7px 0;
}
#bd h4 {
color:#555555;
font-family:"Trebuchet MS",Tahoma,arial,sans-serif;
font-size:14px;
font-weight:bold;
margin:5px 0;
}
#bd h5 {
background-color:#F1F1F1;
color:#789030;
font-family:"Trebuchet MS",Tahoma,arial,sans-serif;
font-size:11px;
font-weight:bold;
line-height:20px;
padding:3px;
text-transform:uppercase;
}
#bd .big-box h5.alt {
border-bottom:1px solid #EEEEEE;
color:#385F95;
font-size:13px;
text-align:center;
}
#bd .box {
padding:3px 5px 15px;
}
#ft {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/ft-bg.png) no-repeat scroll center 0;
margin-top:25px;
padding-top:5px;
text-align:center;
}
#ft table.nav {
margin:0 auto;
}
#ft table.nav a, #ft table.nav a:hover, #ft table.nav a:visited {
color:#789030;
display:block;
font-size:12px;
padding:5px 15px 0;
}
#ft div.copy {
color:gray;
margin:0 auto;
padding:10px 0;
}
ul.features, .content-box ul, .side-box ul {
list-style-image:url(../images/c-sep-l.gif);
margin-left:15px;
}
ul.features li, .content-box ul li, .side-box ul li {
margin-bottom:5px;
margin-top:5px;
}
.flyout-menu {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #CCCCCC;
font-family:helvetica,arial,tahoma,sans-serif;
left:-200px;
padding:10px 15px;
position:absolute;
text-align:left;
top:-200px;
}
.flyout-menu a {
color:#046BCA;
}
.flyout-menu p {
color:#555555;
font-size:11px;
line-height:16px;
margin:4px 0;
}
.flyout-menu br {
line-height:10px;
}
.flyout-menu h3 {
font-size:12px;
font-weight:bold;
line-height:16px;
}
.flyout-menu ul {
font-size:11px;
list-style-type:square;
margin-left:15px;
}
.flyout-menu li {
color:#CCCCCC;
line-height:16px;
}
.rss {
float:right;
margin:3px 3px 0 0;
}
.rss a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/home/rss.gif) no-repeat scroll 0 -14px;
display:block;
height:14px;
width:14px;
}
.rss a:hover {
background-position:0 0;
}
div.side-box {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/side-box.png) no-repeat scroll 0 0;
margin-bottom:20px;
padding-top:9px;
width:200px;
}
div.side-box-inner {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/side-box.png) no-repeat scroll 0 bottom;
font-size:12px;
padding:0 15px 5px;
}
#bd div.side-box-inner h5 {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent none repeat scroll 0 0 !important;
padding-top:0;
}
div.big-box {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/big-box.png) no-repeat scroll 0 0;
margin-bottom:20px;
padding-top:12px;
width:700px;
}
div.big-box-inner {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/big-box.png) no-repeat scroll 0 bottom;
font-size:12px;
padding:0 15px 12px;
}
div.big-box-solid {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/big-box-solid.png) no-repeat scroll 0 0;
margin-bottom:20px;
padding-top:8px;
width:700px;
}
div.big-box-solid-inner {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/big-box-solid.png) no-repeat scroll 0 bottom;
color:#555577;
font-size:12px;
padding:0 15px 5px;
}
#bd div.big-box-inner h5 {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent none repeat scroll 0 0 !important;
padding-top:0;
}
div.full-box {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/full-box.png) no-repeat scroll 0 0;
padding-top:12px;
width:920px;
}
div.full-box-inner {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/full-box.png) no-repeat scroll 0 bottom;
font-size:12px;
padding:0 15px 10px;
}
div.content-box {
width:700px;
}
div.content-box p {
margin-left:5px;
margin-right:5px;
}
#bd div.content-box ul.features {
margin-left:20px;
}
#bd .content-box h5 {
background-image:url(../images/med-shd.png);
padding-left:10px;
}
#commercial strong {
color:#083772;
font-family:tahoma,verdana,helvetica,sans-serif;
font-size:12px;
font-weight:bold;
margin:0;
}
table.license {
margin-left:5px;
}
table.license, table.license td {
border:0 none !important;
border-collapse:separate;
font-size:12px;
}
table.license td {
padding:0 5px 5px;
}
.order-type {
float:left;
font-size:11px;
margin:10px;
width:300px;
}
#bd .order-complete {
}
#bd .order-complete p {
margin-left:0;
}
#commercial table.order-review {
border-collapse:separate;
font-size:12px;
margin-left:10px;
}
#commercial table.order-review td {
padding:5px 20px 5px 5px;
vertical-align:top;
}
#commercial table.order-review tr.tsep td {
border-top:1px dotted #DDDDDD;
}
#commercial h3 {
font-size:16px;
margin:0 0 5px;
}
#store .big-box h4 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EFEFEF url(../images/inner-hd.png) repeat-x scroll 0 0;
border:1px solid #EFEFEF;
color:#222222;
font-size:12px;
font-weight:bold;
padding:4px;
}
#store .sale-banner {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-x-system-font:none;
background:#FFFFEE none repeat scroll 0 0;
border:1px solid #FFFF99;
font-family:arial,tahoma,helvetica,sans-serif;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:16px;
margin:10px 0;
padding:0 10px 5px;
}
#store .sale-banner h4 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
border:0 none;
color:#CC3333;
}
#store .sale-banner p {
padding-left:10px;
}
a.buynow {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-x-system-font:none;
background:#EEEEEE none repeat scroll 0 0;
border-color:#DDDDDD #BBBBBB #BBBBBB #DDDDDD;
border-style:solid;
border-width:1px;
color:#333333 !important;
cursor:pointer;
display:block;
float:right;
font-family:tahoma,arial,helvetica,sans-serif;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
margin:0 2px;
padding:4px 7px;
text-decoration:none;
}
a.buynow:hover, a.buynow:hover {
background-color:#FAFAFA;
background-position:0 2px;
border-color:#CCCCCC #BBBBBB #BBBBBB #CCCCCC;
text-decoration:none;
}
.saleprice, b.sale, .sale-msg strong {
color:#CC3333;
}
.compare {
}
.compare th {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#083772 none repeat scroll 0 0;
border:1px solid #DDDDDD;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
padding:5px 12px;
text-align:center;
}
.compare td {
border:1px solid #DDDDDD;
font-size:12px;
padding:5px;
text-align:center;
}
.compare th.cfirst {
padding-left:8px;
}
.compare td.cfirst, .compare th.cfirst {
text-align:left;
}
.compare td.cfirst {
padding-left:20px;
}
.compare td.ctitle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#ECECEC none repeat scroll 0 0;
font-size:12px;
font-weight:bold;
padding-left:12px;
text-align:left;
}
.compare tr.cprice td, .compare tr.cfoot td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#C3DAF9 url(/dev/resources/images/grid-hrow.gif) repeat-x scroll 0 0;
border:1px solid #DDDDDD;
border-collapse:collapse;
color:#083772;
font-weight:bold;
padding:5px 12px;
vertical-align:top;
}
.compare tr.cfoot td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border-color:#FFFFFF;
padding-left:2px;
padding-right:2px;
}
.compare tr.cfoot td a {
margin-right:25px;
margin-top:0;
}
.compare tr.corder-note td {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEEEEE none repeat scroll 0 0;
}
.compare sup {
font-size:10px;
margin-left:3px;
}
.compare-info {
font-size:11px;
padding:10px;
}
.contact-list {
margin-top:5px;
}
.contact-list td {
padding:5px 10px 10px;
vertical-align:top;
}
.contact-list li {
margin-top:0 !important;
}
.contact-list strong {
font-weight:bold;
}
table.dl {
width:650px;
}
table.dl td {
padding:5px;
vertical-align:top;
}
.expandable {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F7F7F7 none repeat scroll 0 0;
border:1px solid #DEDEDE;
padding:4px;
}
.expandable-body {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
padding:5px;
}
.expandable-body-inner {
}
.expandable-body dd {
float:left;
padding:5px;
width:300px;
}
.expandable-body dd.offering {
float:left;
padding:5px;
width:600px;
}
.training-info {
font-size:11px;
}
a.link {
font-family:tahoma,helvetica,arial,sans-serif;
font-size:12px;
font-weight:bold;
line-height:19px;
}
#msg-ct {
height:22px;
left:680px;
position:absolute;
top:17px;
width:217px;
}
#msg {
background-image:url(../images/msg-bg.png);
color:#777777;
cursor:pointer;
font-family:tahoma,helvetica,arial,sans-serif;
font-size:11px;
height:22px;
visibility:hidden;
width:217px;
}
#msg-inner {
line-height:12px;
padding:5px 10px 0;
text-align:center;
}
.msg-over {
color:#789030 !important;
}
#msg img {
height:19px;
width:19px;
}
#gsearch-box {
color:#999999;
}
.gs-active #gsearch-box {
color:#333333;
}
.ext-ie #gsearch-box {
height:18px;
left:0;
position:relative;
top:-2px;
}
#posts ul {
list-style-type:disc;
}
#posts ol {
list-style-type:decimal;
}
#bd .entry h3 {
margin-top:15px;
}
#mc_message {
display:block;
font-family:tahoma,helvetica,arial,sans-serif;
font-size:11px;
padding-bottom:10px;
}
