function myRender(value)
{
	
	return Ext.util.Format.htmlEncode(value);
};


var conf = {
	fields:[
	#foreach(${attr} in ${picAttrDef})
		{name:'p_${attr.attrId}', mapping:'p_${attr.attrId}'}
		,
	#end
	#foreach(${attr} in ${descAttrDef})
		{name:'d_${attr.attrId}', mapping:'d_${attr.attrId}'}
		,
	#end
	#foreach(${attr} in ${hierAttrDef})
		{name:'h_${attr.attrId}', mapping:'h_${attr.attrId}'}
		,
	#end
	#foreach(${attr} in ${charaAttrDef})
		{name:'c_${attr.attrId}', mapping:'c_${attr.attrId}'}
		,
	#end
	{name:'id', mapping:'id'}
	],
	columns:[
	/*
	#foreach(${attr} in ${picAttrDef})
		{header: "${attr.attrName}", width: 100, sortable: true, locked:false, dataIndex: 'p_${attr.attrId}'}
		,
	#end */
	#foreach(${attr} in ${descAttrDef})
		{header: "${attr.attrName}", width: 100, sortable: true, locked:false, renderer: myRender, dataIndex: 'd_${attr.attrId}'}
		,
	#end
	/*
	#foreach(${attr} in ${hierAttrDef})
		{header: "${attr.attrName}", width: 100, sortable: true, locked:false, dataIndex: 'h_${attr.attrId}'}
		,
	#end 
	#foreach(${attr} in ${charaAttrDef})
		{header: "${attr.attrName}", width: 100, sortable: true, locked:false, dataIndex: 'c_${attr.attrId}'}
		,
	#end*/
	{ header: "id", width: 150, id: 'id', dataIndex:'id', sortable: true}
	],

	myFilter:new Ext.ux.grid.GridFilters({filters:[
	
	#foreach(${attr} in ${descAttrDef})
				{type: 'string',  dataIndex: 'd_${attr.attrId}'},
	#end
	#foreach(${attr} in ${charaAttrDef})
				{type: 'string',  dataIndex: 'c_${attr.attrId}'},
	#end
	{type: 'numeric',  dataIndex: 'id'}

	],
	
	local: true
	}),
	 
	metaId:${metaId},
	entityName:'$!{entityName}'
};


createGrid(conf);

