    <table cellspacing="0" class="nav main-nav">
        <tr>
        <td id="home"><a id="products-link" href="../front/findMetaPerm.ac"><span>莱弗信息</span></a></td>
        <td id="l_new_entity" ><a id="home-link" href="../admin/preNewEntityFront.ac"><span>信息录入 </span></a></td>
        <td id="l_info_search" ><a  href="../admin/preInfoSearch.ac"><span>信息搜索</span></a></td>
        <td id="l_info_manage" ><a  href="../admin/preInfoManage.ac"><span>信息维护</span></a></td>

        <td id="l_manage_relation" ><a  href="../admin/preManageRelationFront.ac"><span>整理关联属性</span></a></td>
		<td id="l_common_user" ><a  href="../app/sys/home.ac"><span>日常应用</span></a></td>

        <!--
		<td id="l_new_relation" ><a  href="../admin/preNewRelationFront.ac"><span>记录关联属性</span></a></td>
		<td><a href="#">${user.userDesc}您好！您的权限为${user.authoritiesDescString}</a></td>
		<td><a href="../j_spring_security_logout">注销 </a></td>
		<td><a href="#" onclick=showModifyPanel()>修改信息 </a></td>
		<td><a href="#" onclick=showCpPanel()>修改密码 </a></td>
		-->
		<td id="l_user_info"><a href="../front/userSet.ac"><span>修改用户信息 </span></a></td>


		</tr>
    </table>
<div style="float:right; font-size:13px; padding-top:44px; padding-right:15px;">${user.userDesc}您好！您的权限为${user.authoritiesDescString}&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:#FFFFFF" href="../j_spring_security_logout">注销 </a>
        <script type="text/javascript">
        	if("${user.authoritiesString}".indexOf("ROLE_ADMIN")!=-1){
        	 	document.write('<a style="color:#FFFFFF" href="../login.ac" target="about_blank"><span>管理 </span></a>');
        	}
    	</script>



</div>


